@model PlanoContaModel

@{
    ViewData["Title"] = "Cadastro de Plano de Contas";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="PlanoConta" asp-action="Cadastro" method="POST">
    <div class="container">
        <label class="form-label">Descrição</label>
        <div class = "mb-3">
            <input type="hidden" id="txtid" class="form-control" asp-for="Id" /> <!--Serve para dizer se é cadastro de um novo item ou atualização de um existente -->
            <input type="text" id=txtNome class="form-control" asp-for="Descricao" />
        </div>

        <div class="mb-3">
            <label>@Html.RadioButtonFor(m => m.Tipo, "D")Despesas</label>
             <label>@Html.RadioButtonFor(m => m.Tipo, "R")Receita</label>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Salvar</button>
            <button type="button" class="btn btn-secondary btn-lg" onclick="Voltar()">Cancelar</button>
        </div>
    </div>
</form>

<script>
    function Voltar(){
        window.location.href = "../PlanoConta/Index"
    }
</script>